/*
 * Include header, footer and any common CSS rule
 */
@import 'variables';

.navbar {
	padding: 15px 0;
	
	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		
		li {
			display: inline-block;
			
			a {
				font-size: 16px;
				font-weight: 700;
				color: #000;
				display: table-cell;
    			vertical-align: bottom;
				
				&:hover {
					color: #000;
					text-decoration: none;
				}
			}
			
			+ li {
				margin-left: 40px;
			}
		}
	}
}

#footer {
  width: 100%;
  height: 400px; 
  background-color: grey;
  background-size: 100% 100%;
}

.text-wrapper {
    position: relative;
    margin: auto;
    padding: 20px 0;
    width: 80%;
    min-height: 100px;
    text-align: center;
    color: black;
    background-color: orange;
    border-radius: 50px;
}