@import 'variables';

.search_area {
  width: 100%;
  height: 300px;
  background-color: white;
}

.search_wrapper {
  position: relative;
  width: 1000px;
  height: 100px;
  margin-left: 12%;
  margin-top: 5%;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
  border: 1px solid #999;
}

.search {
  display: block;
  margin: 10px 10px;
  border-right: 1px solid #999;
  p {
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-family: $gfont;
    font-size: 90%;
  }
}

.search.places {
  height: 80px;
  width: 430px;
}

.search.time {
  height: 80px;
  width: 180px;
  margin-left: 450px;
  margin-top: -90px;
}

.search.foodtype {
  height: 80px;
  width: 250px;
  margin-left: 640px;
  margin-top: -90px;
} 

.search.button {
  height: 80px;
  width: 80px;
  margin-left: 903px;
  margin-top: -80px;
  border-right: 0px;
}

.red {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.action-button {
  text-decoration-line: none;
	position: relative;
	padding: 10px 10px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
  
  &:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
  }
  
  &:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
  }
}

.search-field {
  width: 95%;
  display: block;
  padding: .5em 10px;
  font-size: 130%;
  font-family: $gfont;
  font-weight: $fw-normal;
  color: #3e8ce0;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  
  &:focus {
    border-bottom: 1.2px solid #999;
    outline: none;
  }
}

.welcome_block {
  width: 80%;
  height: 50px;
  left: 10%;
  margin-left: 20%;
  
  h2 {
    margin-left: 40px;
    color: black;
    font-family: $gfont;
    font-size: 300%;
  }
}