/*
 * Include header, footer and any common CSS rule
 */
/* line 6, ../sass/common.scss */
.navbar {
  padding: 15px 0;
}
/* line 9, ../sass/common.scss */
.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 15, ../sass/common.scss */
.navbar__menu li {
  display: inline-block;
}
/* line 18, ../sass/common.scss */
.navbar__menu li a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  display: table-cell;
  vertical-align: bottom;
}
/* line 25, ../sass/common.scss */
.navbar__menu li a:hover {
  color: #000;
  text-decoration: none;
}
/* line 31, ../sass/common.scss */
.navbar__menu li + li {
  margin-left: 40px;
}

/* line 38, ../sass/common.scss */
#footer {
  width: 100%;
  height: 500px;
  background-color: grey;
  background-size: 100% 100%;
  position: relative;
}

/* line 46, ../sass/common.scss */
.search_area {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: orange;
}
