/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  font-size: 1em;
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: "franklin-gothic-urw-cond";
  font-weight: 500;
  margin: 0;
  line-height: 1.4;
}

/* line 20, ../sass/screen.scss */
#home-header {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/food-wallpaper-18.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: orange;
}

/* line 30, ../sass/screen.scss */
#home-navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  background: white;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #3D6AA2;
}

/* line 41, ../sass/screen.scss */
#home-logo {
  width: 50px;
  height: 50px;
  margin-top: 2px;
  margin-left: 10px;
}

/* line 48, ../sass/screen.scss */
#home-logotext {
  position: absolute;
  display: inline;
  left: 60px;
  font-size: 30px;
  font-family: sans-serif;
  color: orange;
  font-weight: bold;
  text-emphasis-color: red;
  margin-top: 26px;
  top: -20px;
}

/* line 61, ../sass/screen.scss */
#home-becomechef {
  display: inline;
  text-decoration: none;
  font-family: sans-serif;
  color: orange;
  text-align: right;
  float: right;
  margin: 12px;
  margin-top: 10px;
  border: 2px solid orange;
  padding: 8px;
  border-radius: 2px;
  font-weight: bold;
}

/* line 76, ../sass/screen.scss */
#home-becomechef:visited {
  text-decoration: none;
  color: orange;
  font-family: sans-serif;
}

/* line 82, ../sass/screen.scss */
#home-becomechef:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 86, ../sass/screen.scss */
.home-navmenu {
  display: inline;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
  float: right;
  margin: 12px;
  margin-top: 12px;
  padding: 8px;
  font-weight: bold;
}

/* line 98, ../sass/screen.scss */
.home-navmenu:hover {
  color: rgba(0, 0, 0, 0.3);
}

/* line 102, ../sass/screen.scss */
#home-welcometext-div {
  position: absolute;
  width: 800px;
  height: 300px;
  top: 40%;
  margin-top: -150px;
  left: 50%;
  margin-left: -400px;
}

/* line 112, ../sass/screen.scss */
#home-welcomefoodcourt {
  color: floralwhite;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
}

/* line 122, ../sass/screen.scss */
#home-firststranger-thenfriends {
  color: floralwhite;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

/* line 131, ../sass/screen.scss */
#home-getstarted {
  font-family: sans-serif;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  top: 65%;
  margin-top: 20px;
}

/* line 140, ../sass/screen.scss */
#home-getstarted:link {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 50%;
  margin-right: -60px;
}

/* line 153, ../sass/screen.scss */
#home-getstarted:visited {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 2px;
}

/* line 161, ../sass/screen.scss */
#home-getstarted:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 165, ../sass/screen.scss */
#home-searchdiv {
  position: absolute;
  width: 760px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  margin-left: 20px;
}

/* line 174, ../sass/screen.scss */
#home-searchbar {
  position: absolute;
  width: 600px;
  height: 40px;
  background-color: white;
  top: 53%;
  margin-top: -25px;
  left: 50%;
  margin-left: -350px;
  border-radius: 3px;
}

/* line 186, ../sass/screen.scss */
#home-searchbox {
  position: absolute;
  width: 760px;
  height: 35px;
  margin-top: -3px;
}

/* line 193, ../sass/screen.scss */
#home-search_text {
  color: grey;
  font-family: sans-serif;
  margin-left: 15px;
  font-size: 20px;
  z-index: 0;
  margin-top: 8px;
  text-align: left;
}

/* line 203, ../sass/screen.scss */
#home-search-button {
  position: absolute;
  width: 110px;
  height: 30px;
  float: right;
  margin-left: 590px;
  z-index: 0;
  margin-top: -1px;
}

/* line 213, ../sass/screen.scss */
#search-button {
  position: absolute;
  font-family: sans-serif;
  font-size: bold;
  background-color: orange;
  text-decoration: none;
  padding: 11px 30px 11px 30px;
}

/* line 222, ../sass/screen.scss */
#search-button:visited {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

/* line 228, ../sass/screen.scss */
#search-button:hover {
  background-color: darkorange;
}

/* line 232, ../sass/screen.scss */
#home-seach-options {
  position: absolute;
  font-family: sans-serif;
  font-size: bold;
  text-decoration: none;
  margin-top: -30px;
  margin-left: -10px;
}

/* line 241, ../sass/screen.scss */
.home-search-option-box {
  position: absolute;
  display: inline;
  width: 190px;
  height: 80px;
  border-right: 1px solid white;
  margin-top: 30px;
  top: 20%;
  text-align: center;
}

/* line 252, ../sass/screen.scss */
.home-search-option-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 256, ../sass/screen.scss */
#search-chef-box {
  margin-left: 10px;
}

/* line 260, ../sass/screen.scss */
.search-text {
  text-align: center;
  display: inline;
  font-family: sans-serif;
  text-decoration: none;
  float: right;
  padding: 8px;
  font-weight: lighter;
  margin-top: -15px;
  margin-right: 15px;
}

/* line 272, ../sass/screen.scss */
#search-chef {
  margin-left: 12px;
  margin-right: 12px;
}

/* line 277, ../sass/screen.scss */
.search-logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

/* line 283, ../sass/screen.scss */
#search-chef-logo {
  top: 30%;
  right: 30%;
}

/* line 288, ../sass/screen.scss */
.search-text:visited {
  color: white;
}

/* line 292, ../sass/screen.scss */
#search-food-logo {
  top: 30%;
}

/* line 296, ../sass/screen.scss */
#search-food-box {
  margin-left: 200px;
}

/* line 300, ../sass/screen.scss */
#search-food:visited {
  color: white;
  text-align: center;
}

/* line 305, ../sass/screen.scss */
#search-place-box {
  margin-left: 390px;
}

/* line 309, ../sass/screen.scss */
#search-place-logo {
  margin-right: 10px;
}

/* line 313, ../sass/screen.scss */
#search-place {
  margin-right: 33px;
}

/* line 317, ../sass/screen.scss */
#search-learnmore-box {
  position: absolute;
  display: inline;
  width: 190px;
  height: 80px;
  margin-top: 30px;
  top: 20%;
  text-align: center;
  margin-left: 580px;
}

/* line 328, ../sass/screen.scss */
#search-learnmore-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 332, ../sass/screen.scss */
#search-learnmore-logo {
  margin-right: 19px;
}

/* line 336, ../sass/screen.scss */
#search-learnmore {
  margin-right: 19px;
}

/* line 340, ../sass/screen.scss */
#side-menu-div {
  width: 200px;
  height: 1000px;
  position: absolute;
}

/* line 346, ../sass/screen.scss */
.side-menu {
  /* Full screen nav menu */
  width: 240px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: absolute;
  box-sizing: border-box;
  display: block;
  background: #f1f1f1;
  overflow-y: scroll;
  margin-left: 10px;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 4.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0px, 0, 0);
  padding: 20px;
  height: 100%;
}
/* line 372, ../sass/screen.scss */
.side-menu h3 {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #656565;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 18px;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 393, ../sass/screen.scss */
.side-menu ul {
  padding: 0;
  margin: 0 0 25px;
}
/* line 398, ../sass/screen.scss */
.side-menu li {
  text-align: left;
  list-style: none;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 412, ../sass/screen.scss */
.side-menu li a {
  text-decoration: none;
  font-size: 21px;
  color: #999;
  line-height: 40px;
}
/* line 417, ../sass/screen.scss */
.side-menu li a:hover {
  color: #01a5e2;
}
/* line 419, ../sass/screen.scss */
.side-menu li a:hover::before {
  content: "";
  position: absolute;
  background: #01a5e2;
  width: 4px;
  height: 28px;
  display: block;
  left: -20px;
  margin-top: 6px;
}

/* line 434, ../sass/screen.scss */
#body-wrapper {
  position: relative;
  margin-top: -20px;
}

/* line 439, ../sass/screen.scss */
#content-wrapper {
  width: 90%;
  margin: 2% auto;
  margin-left: 260px;
}

/* line 445, ../sass/screen.scss */
* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 459, ../sass/screen.scss */
#newest-disc-tab {
  max-width: 1100px;
  margin: 0 auto;
}

/* line 464, ../sass/screen.scss */
.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 478, ../sass/screen.scss */
.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 700px) {
  /* line 478, ../sass/screen.scss */
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  /* line 478, ../sass/screen.scss */
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  /* line 494, ../sass/screen.scss */
  .card:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  /* line 499, ../sass/screen.scss */
  .card:nth-child(even) {
    margin-right: 20px;
  }
  /* line 502, ../sass/screen.scss */
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
/* line 506, ../sass/screen.scss */
.card span {
  display: block;
}
/* line 509, ../sass/screen.scss */
.card .card-summary {
  padding: 5% 5% 3% 5%;
}
/* line 512, ../sass/screen.scss */
.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
/* line 522, ../sass/screen.scss */
.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
/* line 526, ../sass/screen.scss */
.card .card-title {
  background: rgba(157, 187, 63, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 535, ../sass/screen.scss */
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
/* line 542, ../sass/screen.scss */
.card .card-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 555, ../sass/screen.scss */
.card:hover, .card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
/* line 558, ../sass/screen.scss */
.card:hover .card-title, .card:focus .card-title {
  background: rgba(157, 187, 63, 0.95);
}
/* line 561, ../sass/screen.scss */
.card:hover .card-meta, .card:focus .card-meta {
  max-height: 1em;
}

/* line 567, ../sass/screen.scss */
img {
  max-width: 100%;
}
