body {
  margin: 0;
}

#home-header {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../images/food-wallpaper-18.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: orange;
}

#home-navbar {
  position:absolute;
  width: 100%;
  height: 55px;
  background: white;
}

#home-logo {
  width: 50px;
  height: 50px;
  margin-top: 2px;
  margin-left: 10px;
}

#home-logotext {
  position: absolute;
  display:inline;
  left:60px;
  font-size: 30px;
  font-family: sans-serif;
  color: orange;
  font-weight: bold;
  text-emphasis-color: red;
  margin-bottom: 40px;
  top:-20px;
}

#home-becomechef {
  display: inline;
  text-decoration: none;
  font-family: sans-serif;
  color: orange;
  text-align: right;
  float: right;
  margin: 12px;
  margin-top: 10px;
  border:2px solid orange;
  padding: 8px;
  border-radius: 2px;
  font-weight: bold;
}

#home-becomechef:visited {
  text-decoration: none;
  color: orange;
  font-family: sans-serif;
}

#home-becomechef:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.home-navmenu {
  display: inline;
  font-family: sans-serif;
  color:black;
  text-decoration: none;
  float: right;
  margin: 12px;
  margin-top:12px;
  padding: 8px;
  font-weight: bold;
}

.home-navmenu:hover {
  color: rgba(0,0,0,0.3);
}

#home-welcometext-div {
  position: absolute;
  width: 800px;
  height: 300px;
  top:40%;
  margin-top: -150px;
  left: 50%;
  margin-left:-400px;
}

#home-welcomefoodcourt{
  color:floralwhite;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
}

#home-firststranger-thenfriends {
  color:white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: -40px;
}

#home-getstarted {
  font-family: sans-serif;
  text-transform: capitalize;
  color:white;
  text-decoration: none;
  top:65%;
  margin-top: 20px;
}

#home-getstarted:link {
  font-family: sans-serif;
  color:white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 50%;
  margin-right: -60px;
}

#home-getstarted:visited {
  font-family: sans-serif;
  color:white;
  text-decoration: none;
  border: 2px solid white;
  padding:2px;  
}

#home-getstarted:hover {
  background-color: rgba(0,0,0,0.2);
}

#home-searchdiv {
  position: absolute;
  width: 760px;
  height: 200px;
  background-color: rgba(0,0,0,0.7);
  margin-top: 15px;
  margin-left: 20px;
}

#home-searchbar {
  position: absolute;
  width: 600px;
  height: 40px;
  background-color: white;
  top:53%;
  margin-top: -25px;
  left: 50%;
  margin-left: -350px;
  border-radius: 3px;
}

#home-searchbox {
  position: absolute;
  width: 760px;
  height: 40px;
  margin-top: -3px;
}

#home-search_text {
  color: grey;
  font-family: sans-serif;
  margin-left: 15px;
  z-index: 0;
}

#home-search-button {
  position: absolute;
  width: 110px;
  height: 40px;
  float: right;
  margin-left: 590px;
  z-index: 0;
}

#search-button {
  position: absolute;
  font-family: sans-serif;
  font-size: bold;
  background-color: orange;
  text-decoration: none;
  padding: 11px 30px 11px 30px;
}

#search-button:visited {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

#search-button:hover {
  background-color: darkorange;
}

#home-seach-options {
  position: absolute;
  font-family: sans-serif;
  font-size: bold;
  text-decoration: none;
  margin-top: -30px;
  margin-left: -10px;
}

.home-search-option-box {
  position: absolute;
  display:inline;
  width: 190px;
  height: 80px;
  border-right: 1px solid white;
  margin-top: 30px;
  top: 20%;
  text-align: center;
}

.home-search-option-box:hover {
  background-color: rgba(0,0,0,0.2);
}

#search-chef-box {
  margin-left: 10px;
}

.search-text {
  text-align: center;
  display: inline;
  font-family: sans-serif;
  text-decoration: none;
  float: right;
  padding: 8px;
  font-weight: lighter;
  margin-top: -15px;
}

#search-chef {
  margin-left: 12px;
  margin-right: 2px;
}

.search-logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

#search-chef-logo {
  top: 30%;
  right: 30%;
}

.search-text:visited {
  color: white;
}

#search-food-logo {
  top: 30%;
}

#search-food-box {
  margin-left: 200px;
}

#search-food:visited {
  color: white;
  text-align: center;
}

#search-place-box {
  margin-left: 390px;
}

#search-place-logo {
  margin-right: 10px;
}

#search-place {
  margin-right: 20px;
}

#search-learnmore-box {
  position: absolute;
  display:inline;
  width: 190px;
  height: 80px;
  margin-top: 30px;
  top: 20%;
  text-align: center;
  margin-left: 580px;
}

#search-learnmore-box:hover {
  background-color: rgba(0,0,0,0.2);
}

#search-learnmore-logo {
  margin-right:12px;
}

#search-learnmore {
  margin-right:10px;
}




