/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  font-size: 1em;
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: "franklin-gothic-urw-cond";
  font-weight: 500;
  margin: 0;
  line-height: 1.4;
}

/* line 21, ../sass/screen.scss */
#home-header {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/food-wallpaper-18.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: orange;
}

/* line 31, ../sass/screen.scss */
#home-navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  background: white;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #3D6AA2;
}

/* line 42, ../sass/screen.scss */
#home-logo {
  width: 50px;
  height: 50px;
  margin-top: 2px;
  margin-left: 10px;
}

/* line 49, ../sass/screen.scss */
#home-logotext {
  position: absolute;
  display: inline;
  left: 60px;
  font-size: 30px;
  font-family: sans-serif;
  color: orange;
  font-weight: bold;
  text-emphasis-color: red;
  margin-top: 25px;
  top: -20px;
}

/* line 62, ../sass/screen.scss */
#home-becomechef {
  display: inline;
  text-decoration: none;
  font-family: sans-serif;
  color: orange;
  text-align: right;
  float: right;
  margin: 12px;
  margin-top: 10px;
  border: 2px solid orange;
  padding: 8px;
  border-radius: 2px;
  font-weight: bold;
}

/* line 77, ../sass/screen.scss */
#home-becomechef:visited {
  text-decoration: none;
  color: orange;
  font-family: sans-serif;
}

/* line 83, ../sass/screen.scss */
#home-becomechef:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 87, ../sass/screen.scss */
.home-navmenu {
  display: inline;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
  float: right;
  margin: 12px;
  margin-top: 12px;
  padding: 8px;
  font-weight: bold;
}

/* line 99, ../sass/screen.scss */
.home-navmenu:hover {
  color: rgba(0, 0, 0, 0.3);
}

/* line 103, ../sass/screen.scss */
#home-welcometext-div {
  position: absolute;
  width: 800px;
  height: 300px;
  top: 40%;
  margin-top: -150px;
  left: 50%;
  margin-left: -400px;
}

/* line 113, ../sass/screen.scss */
#home-welcomefoodcourt {
  color: floralwhite;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
}

/* line 123, ../sass/screen.scss */
#home-firststranger-thenfriends {
  color: floralwhite;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: -25px;
}

/* line 132, ../sass/screen.scss */
#home-getstarted {
  font-family: sans-serif;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  top: 65%;
  margin-top: 20px;
}

/* line 141, ../sass/screen.scss */
#home-getstarted:link {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 50%;
  margin-right: -60px;
}

/* line 154, ../sass/screen.scss */
#home-getstarted:visited {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 2px;
}

/* line 162, ../sass/screen.scss */
#home-getstarted:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 166, ../sass/screen.scss */
#home-searchdiv {
  position: absolute;
  width: 760px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  margin-left: 20px;
}

/* line 175, ../sass/screen.scss */
#home-searchbar {
  position: absolute;
  width: 600px;
  height: 40px;
  background-color: white;
  top: 53%;
  margin-top: -25px;
  left: 50%;
  margin-left: -350px;
  border-radius: 3px;
}

/* line 187, ../sass/screen.scss */
#home-searchbox {
  position: absolute;
  width: 760px;
  height: 35px;
  margin-top: -3px;
}

/* line 194, ../sass/screen.scss */
#home-search_text {
  color: grey;
  font-family: sans-serif;
  margin-left: 15px;
  font-size: 20px;
  z-index: 0;
  margin-top: 8px;
  text-align: left;
}

/* line 204, ../sass/screen.scss */
#home-search-button {
  position: absolute;
  width: 110px;
  height: 30px;
  float: right;
  margin-left: 590px;
  z-index: 0;
  margin-top: -1px;
}

/* line 214, ../sass/screen.scss */
#search-button {
  position: absolute;
  font-family: sans-serif;
  font-size: bold;
  background-color: orange;
  text-decoration: none;
  padding: 11px 30px 11px 30px;
}

/* line 223, ../sass/screen.scss */
#search-button:visited {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

/* line 229, ../sass/screen.scss */
#search-button:hover {
  background-color: darkorange;
}

/* line 233, ../sass/screen.scss */
#home-seach-options {
  position: absolute;
  font-family: sans-serif;
  font-size: bold;
  text-decoration: none;
  margin-top: -30px;
  margin-left: -10px;
}

/* line 242, ../sass/screen.scss */
.home-search-option-box {
  position: absolute;
  display: inline;
  width: 190px;
  height: 80px;
  border-right: 1px solid white;
  margin-top: 30px;
  top: 20%;
  text-align: center;
}

/* line 253, ../sass/screen.scss */
.home-search-option-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 257, ../sass/screen.scss */
#search-chef-box {
  margin-left: 10px;
}

/* line 261, ../sass/screen.scss */
.search-text {
  text-align: center;
  display: inline;
  font-family: sans-serif;
  text-decoration: none;
  float: right;
  padding: 8px;
  font-weight: lighter;
  margin-top: -15px;
  margin-right: 15px;
}

/* line 273, ../sass/screen.scss */
#search-chef {
  margin-left: 12px;
  margin-right: 12px;
}

/* line 278, ../sass/screen.scss */
.search-logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

/* line 284, ../sass/screen.scss */
#search-chef-logo {
  top: 30%;
  right: 30%;
}

/* line 289, ../sass/screen.scss */
.search-text:visited {
  color: white;
}

/* line 293, ../sass/screen.scss */
#search-food-logo {
  top: 30%;
}

/* line 297, ../sass/screen.scss */
#search-food-box {
  margin-left: 200px;
}

/* line 301, ../sass/screen.scss */
#search-food:visited {
  color: white;
  text-align: center;
}

/* line 306, ../sass/screen.scss */
#search-place-box {
  margin-left: 390px;
}

/* line 310, ../sass/screen.scss */
#search-place-logo {
  margin-right: 10px;
}

/* line 314, ../sass/screen.scss */
#search-place {
  margin-right: 33px;
}

/* line 318, ../sass/screen.scss */
#search-learnmore-box {
  position: absolute;
  display: inline;
  width: 190px;
  height: 80px;
  margin-top: 30px;
  top: 20%;
  text-align: center;
  margin-left: 580px;
}

/* line 329, ../sass/screen.scss */
#search-learnmore-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 333, ../sass/screen.scss */
#search-learnmore-logo {
  margin-right: 19px;
}

/* line 337, ../sass/screen.scss */
#search-learnmore {
  margin-right: 19px;
}

/* line 341, ../sass/screen.scss */
#body-wrapper {
  position: relative;
  margin-top: -20px;
}

/* line 346, ../sass/screen.scss */
.nav-tabs {
  margin-left: 50px;
}

/* line 350, ../sass/screen.scss */
#content-wrapper {
  width: 90%;
  margin: 2% auto;
}

/* line 355, ../sass/screen.scss */
* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 369, ../sass/screen.scss */
#newest-disc-tab {
  max-width: 1100px;
  margin: 0 auto;
}

/* line 374, ../sass/screen.scss */
.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 388, ../sass/screen.scss */
.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 700px) {
  /* line 388, ../sass/screen.scss */
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  /* line 388, ../sass/screen.scss */
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  /* line 404, ../sass/screen.scss */
  .card:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  /* line 409, ../sass/screen.scss */
  .card:nth-child(even) {
    margin-right: 20px;
  }
  /* line 412, ../sass/screen.scss */
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
/* line 416, ../sass/screen.scss */
.card span {
  display: block;
}
/* line 419, ../sass/screen.scss */
.card .card-summary {
  padding: 5% 5% 3% 5%;
}
/* line 422, ../sass/screen.scss */
.card .card-summary p {
  max-height: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 428, ../sass/screen.scss */
.card .card-header {
  position: relative;
  height: 195px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
/* line 438, ../sass/screen.scss */
.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
/* line 442, ../sass/screen.scss */
.card .card-title {
  background: rgba(157, 187, 63, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 0;
  height: 70px;
  width: 100%;
}
/* line 452, ../sass/screen.scss */
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
/* line 459, ../sass/screen.scss */
.card .card-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 472, ../sass/screen.scss */
.card:hover, .card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
/* line 475, ../sass/screen.scss */
.card:hover .card-title, .card:focus .card-title {
  background: rgba(157, 187, 63, 0.95);
}
/* line 478, ../sass/screen.scss */
.card:hover .card-meta, .card:focus .card-meta {
  max-height: 2em;
}

/* line 484, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 488, ../sass/screen.scss */
.card-chef-name {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #ffffff;
  padding: 0 35px;
  position: relative;
}

/* line 498, ../sass/screen.scss */
.card-chef-name h5,
.card-chef-name span {
  left: 25%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
  margin-top: -20px;
}

/* line 507, ../sass/screen.scss */
.card-chef-name h5 {
  text-transform: uppercase;
  bottom: 70%;
  margin: 0;
  font-weight: 800;
  color: #000000;
}

/* line 515, ../sass/screen.scss */
.card-chef-name span {
  font-size: 0.8em;
  color: #ffffff;
  top: 50%;
}

/* line 521, ../sass/screen.scss */
.card-chef-name img {
  max-width: 100%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  margin-left: 10px;
  margin-top: -6px;
}

/* line 539, ../sass/screen.scss */
.disc-rating {
  width: 90px;
  height: 25px;
  bottom: 0px;
  float: right;
  margin-top: 20px;
  margin-right: -20px;
}

/* line 548, ../sass/screen.scss */
.rating {
  margin: 10px 0;
}

/* line 552, ../sass/screen.scss */
.rating i {
  display: inline-block;
  width: 0;
  height: 1em;
  border-width: 0 0.5em;
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.1em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

/** Colors */
/* line 577, ../sass/screen.scss */
[data-rating^='1'] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

/* line 583, ../sass/screen.scss */
[data-rating^='1.5'] .star-2 {
  border-left-color: #cc8b1f;
}

/* line 577, ../sass/screen.scss */
[data-rating^='2'] .star-1 {
  border-color: #dcb228;
  background: #dcb228;
}

/* line 577, ../sass/screen.scss */
[data-rating^='2'] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

/* line 583, ../sass/screen.scss */
[data-rating^='2.5'] .star-3 {
  border-left-color: #dcb228;
}

/* line 577, ../sass/screen.scss */
[data-rating^='3'] .star-1 {
  border-color: #f0991e;
  background: #f0991e;
}

/* line 577, ../sass/screen.scss */
[data-rating^='3'] .star-2 {
  border-color: #f0991e;
  background: #f0991e;
}

/* line 577, ../sass/screen.scss */
[data-rating^='3'] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

/* line 583, ../sass/screen.scss */
[data-rating^='3.5'] .star-4 {
  border-left-color: #f0991e;
}

/* line 577, ../sass/screen.scss */
[data-rating^='4'] .star-1 {
  border-color: #f26a2c;
  background: #f26a2c;
}

/* line 577, ../sass/screen.scss */
[data-rating^='4'] .star-2 {
  border-color: #f26a2c;
  background: #f26a2c;
}

/* line 577, ../sass/screen.scss */
[data-rating^='4'] .star-3 {
  border-color: #f26a2c;
  background: #f26a2c;
}

/* line 577, ../sass/screen.scss */
[data-rating^='4'] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

/* line 583, ../sass/screen.scss */
[data-rating^='4.5'] .star-5 {
  border-left-color: #f26a2c;
}

/* line 588, ../sass/screen.scss */
[data-rating="5"] i {
  background: #dd050b;
  border-color: #dd050b;
}

/** Print */
@media print {
  /* line 596, ../sass/screen.scss */
  .rating {
    -webkit-print-color-adjust: exact;
  }
  /* line 598, ../sass/screen.scss */
  .rating i {
    text-shadow: none;
  }
}
